spring:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://localhost:5432/backend
    username: postgres
    password: Di7gmrsko8
  servlet:
    multipart:
      enabled: true
      max-file-size: 2MB
      max-request-size: 5MB